/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*  border-collapse: collapse;*/
/*}*/

body {
  background-image: url("src/full.png");
}

#headLink {
  background-color: #046056;
  padding: 7px 10px;
}

#foot {
  background-color: #addccf;
}

#head p {
  font-family: Lobster;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  justify-items: center;
}

#head img {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

#headLink {
  text-align: center;
}

#headLink a {
  padding: 0 65px;
  font-family: Calibri;
  font-weight: bold;
  color: white;
  border-right: solid 1px black;
  text-decoration: none;
  font-size: 15px;
}

#side {
  background-color: #c7ecee;
  padding: 5px;
  margin: 5px;
  /*border: 2px solid black;*/
}

#side a {
  font-size: 15px;
}

#side div {
  background-color: white;
  margin: 3px;
}

a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

a p {
  text-align: justify;
  font-family: Calibri;
  font-weight: bold;
  padding: 0 30px
}

td {
  padding: 5px;
  width: 130px;
}

#main {
  background-color: white;
  padding: 5px;
  margin: 5px;
  /*border: 2px solid black;*/
}

.add {
  color: blue;
  text-decoration: none;
  padding: 20px;
  border: 1px solid cornflowerblue;
  border-radius: 10px;
  margin-left: 5px;
}

.view {
  color: darkgray;
  font-size: 13px;
}

.row {
  /*border: 2px solid black;*/
  display: flex; /* nổi lên trên cùng một hàng*/
  flex-wrap: wrap;
  margin: 5px;
}

#foot {
  display: block;
  text-align: center;
  font-weight: bold;
  font-family: Calibri;
  font-size: 15px;
}

.col-l-1 {width: 8.33333%;}
.col-l-2 {width: 16.66667%;}
.col-l-3 {width: 25%;}
.col-l-4 {width: 33.33333%;}
.col-l-5 {width: 41.66667%;}
.col-l-6 {width: 50%;}
.col-l-7 {width: 58.33333%;}
.col-l-8 {width: 66.66667%;}
.col-l-9 {width: 75%;}
.col-l-10 {width: 83.33333%;}
.col-l-11 {width: 91.66667%;}
.col-l-12 {width: 100%;}

/*màn hình điện thoai*/
@media only screen and (max-width: 740px) {
  .col-s-1 {width: 8.33333%;}
  .col-s-2 {width: 16.66667%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33333%;}
  .col-s-5 {width: 41.66667%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33333%;}
  .col-s-8 {width: 66.66667%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33333%;}
  .col-s-11 {width: 91.66667%;}
  .col-s-12 {width: 100%;}
}

/*Màn hinh laptop và máy tính bảng*/
@media only screen and (min-width:741px)and (max-width:1240px) {
  .col-m-1 {width: 8.33333%;}
  .col-m-2 {width: 16.66667%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33333%;}
  .col-m-5 {width: 41.66667%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33333%;}
  .col-m-8 {width: 66.66667%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33333%;}
  .col-m-11 {width: 91.66667%;}
  .col-m-12 {width: 100%;}
}
