<div>
  <div class="row" id="head">
    <div class="col-2">
      <a href="/" style="text-decoration: none">
        <img src="src/full.png">
      </a>
    </div>
    <div class="col-10">
      <p>Huỳnh Công Danh</p>
    </div>
  </div>
  <div class="row" id="headLink">
    <div class="col-9">
      <a href="/">Trang chủ</a>
      <a href="/categories" style="border-right: none">Lô hàng</a>
    </div>
    <div class="col-3">
      <form action="https://www.google.com/search">
        <input type="text" name="q" placeholder="Tìm trên Google"
               style="border-radius: 10px; padding-left: 10px; width: 70%; font-family: Calibri">
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
