<form>
  <div class="mb-3">
    <label for="name" class="form-label">Tên Dịch vụ</label>
    <input type="text" class="form-control" id="name" aria-describedby="Tên Dịch vụ">
  </div>
  <div class="mb-3">
    <label for="photo" class="form-label">Link hình minh họa</label>
    <input type="text" class="form-control" id="photo" aria-describedby="Link hình minh họa">
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Giá Dịch vụ</label>
    <input type="text" class="form-control" id="price">
  </div>
</form>
