<form>
  <div class="mb-3">
    <label for="code" class="form-label">Mã Hợp đồng</label>
    <input type="text" class="form-control" id="code" aria-describedby="Tên Hợp đồng">
  </div>
  <div class="mb-3">
    <label for="customer" class="form-label">Tên Khách hàng</label>
    <input type="text" class="form-control" id="customer" aria-describedby="Tên Khách hàng">
  </div>
  <div class="mb-3">
    <label for="service" class="form-label">Tên Dịch vụ</label>
    <input type="text" class="form-control" id="service" aria-describedby="Tên Dịch vụ">
  </div>
  <div class="mb-3">
    <label for="startDate" class="form-label">Ngày làm Hợp đồng</label>
    <input type="text" class="form-control" id="startDate">
  </div>
  <div class="mb-3">
    <label for="endDate" class="form-label">Ngày kết thúc Hợp đồng</label>
    <input type="text" class="form-control" id="endDate">
  </div>
  <div class="mb-3">
    <label for="deposit" class="form-label">Tiền đặt cọc</label>
    <input type="text" class="form-control" id="deposit">
  </div>
</form>
